.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--inner-gap);

  padding: 8px 16px 8px 12px;
  border: none;
  border-radius: var(--border-radius);

  font-size: var(--fs-md);
  line-height: var(--lh-md);
  font-weight: var(--fw-semibold);

  color: var(--color-background);
  background-color: var(--color-accent);
  box-shadow: var(--shadow-base);
}