.container {
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 204px 1fr 400px;

  & main {
    display: flex;
    justify-content: center;
    min-height: 0;
  }
}

.sideBarLeft{
  padding: 24px 16px;
  border-right: 1px solid var(--color-hover);

  background-color: var(--color-surface);

  overflow-y: auto;
}

.sideBarRight {
  display: flex;

  padding: 24px;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;

  border-left: 1px solid var(--color-hover);
  background-color: var(--color-surface);
}