.header {
  position: relative;
  z-index: var(--header-z-index);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px 12px 16px;
  height: var(--header-height);

  background-color: var(--color-header);
  box-shadow: var(--shadow-base);
}