.footer {
  flex: 0 0 auto;
  padding: 16px 24px;

  font-size: var(--fs-md);
  line-height: var(--lh-md);

  color: var(--color-text-secondary);
  background-color: var(--color-background);
}

.link {
  text-transform: uppercase;
  text-decoration: underline;
  
  color: var(--color-text-secondary);
}