@import url("./normalize.css");
@import url("./variables.css");
@import url("./typography.css");
@import url("./shadows.css");

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Source Sans 3', system-ui, -apple-system, sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  color: var(--color-text-primary);

  min-width: 1280px;
  overflow-y: hidden;
  overflow-x: auto;
}